#title {
    margin-top: auto;
    margin-bottom: auto;
}

#header {
    font-size: 58px;
    line-height: 48px;
}

#sub-header {
    font-size: 40px;
}

.bar {
    width: 6px;
    background-color: #24307D;
    height: 104px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 10px;
}

@media (max-width: 1250px) {
    #header {
        font-size: 38px;
        line-height: 48px;
    }

    #title {
        margin-top: auto;
        margin-bottom: auto;
    }

    .bar {
        width: 6px;
        background-color: #24307D;
        height: 104px;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10px;
    }

    #sub-header {
        font-size: 30px;
    }
}

@media (max-width: 999px) {
    #container {
        display: flex; 
        flex-direction: column-reverse;
    }

    #header {
        font-size: 38px;
        line-height: 48px;
        margin-top: 5vh;
    }

    #sub-header {
        font-size: 38px;
        line-height: 48px;
    }

    .hero-img {
        max-width: 600px;
        max-height: 420px;
    }

    .about {
        margin-top: 20px;
    }

    .bar {
        width: 6px;
        background-color: #24307D;
        height: 104px;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    #container {
        display: flex; 
        flex-direction: column-reverse;
    }

    .hero-img {
        max-width: 480px;
        height: auto;
        width: 300px;
    }

    #header {
        font-size: 38px;
        line-height: 48px;
    }

    #sub-header {
        font-size: 38px;
        line-height: 48px;
    }

    #about {
        font-size: 18px;
        line-height: 32px;
    }

    .bar {
        width: 6px;
        background-color: #24307D;
        height: 104px;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 10px;
    }

    .right-bar {
        width: 40px;
        background-color: #24307D;
        height: 4px;
    }

    #photo {
        font-size: 60px;
        margin-left: 10px;
    }

    #services {
        margin-left: 80px
    }

    #social {
        font-size: 60px;
        margin-left: 10px;
    }
}