/* * {
  margin: 0;
  padding: 0;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid red;
  background-color: #FFFCFA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100%;
  min-width: 100%;
}

html, 
body {
  max-width: 100%;
  overflow-x: hidden;
} */
 /* this makes sure the padding and the border is included in the box sizing */